<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.library">

    <!-- Permissão para usar internet (Gemini) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Library">

        <!-- Activity de Login -->
        <activity
            android:name=".LoguinActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity de Registro -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoguinActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoguinActivity" />
        </activity>

        <!-- Menu Inicial -->
        <activity
            android:name=".MenuInicialActivity"
            android:exported="false" />

        <!-- Tela de Detalhes do Livro -->
        <activity
            android:name=".TelaLivroDetalheActivity"
            android:exported="false" />

        <!-- ChatBot -->
        <activity
            android:name=".ChatBotActivity"
            android:exported="false"
            android:parentActivityName=".MenuInicialActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuInicialActivity" />
        </activity>

        <!-- Pesquisa -->
        <activity
            android:name=".PesquisaActivity"
            android:exported="false"
            android:parentActivityName=".MenuInicialActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuInicialActivity" />
        </activity>

        <!-- Resultado da Pesquisa -->
        <activity
            android:name=".ResultadoPesquisaActivity"
            android:exported="false"
            android:parentActivityName=".PesquisaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PesquisaActivity" />
        </activity>

        <!-- Avaliação do Livro -->
        <activity
            android:name=".AvaliacaoLivroActivity"
            android:exported="false" />

    </application>

</manifest>
