<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.library">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UniforLibrary">

        <activity
            android:name=".LoguinActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoguinActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoguinActivity" />
        </activity>

        <activity
            android:name=".MenuInicialActivity"
            android:exported="false" />

        <activity
            android:name=".TelaLivroDetalheActivity"
            android:exported="false" />

        <activity android:name=".AcessibilidadeActivity" />
        <activity android:name=".RegistrarLivroActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".CabinesActivity" />
        <activity android:name=".EventosActivity" />
        <activity android:name=".EditarLivroActivity" />

        <activity
            android:name=".ChatBotActivity"
            android:exported="false"
            android:parentActivityName=".MenuInicialActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuInicialActivity" />
        </activity>

        <activity
            android:name=".PesquisaLivroActivity"
            android:exported="false"
            android:parentActivityName=".MenuInicialActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MenuInicialActivity" />
        </activity>

        <activity
            android:name=".ResultadoPesquisaActivity"
            android:exported="false"
            android:parentActivityName=".PesquisaLivroActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PesquisaLivroActivity" />
        </activity>

        <activity
            android:name=".AvaliacaoLivroActivity"
            android:exported="false" />

        <activity android:name=".EventosMensaisActivity" />
        <activity android:name=".EventoDiarioActivity" />
        <activity android:name=".FormularioEventosActivity" />
        <activity android:name=".AprovacoesActivity" />
        <activity android:name=".DetalhesEventoActivity" />
    </application>

</manifest>
